*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}
html{
    background: #fff;
}
i{
    font-size: 25px;
}
p{
    margin: 20px;
}
.username{
    text-align: center;
    background-color: #eb8;
    color: #40d;
    font-family: helvetica;
    font-size: 20pt;
    padding: 4px;
}
.info{
    font-style: italic;
    margin: 40px 0px;
    text-align: center;
}
.center{
    text-align: center;
}

.subhead{
    font-weight: bold;
}

.taken, .error{
    color: red;
}

.available{
    color: green;
    text-decoration: underline;
}

.whisper{
    font-style: italic;
    color: #006600;
}
#logo{
    height: 100px;
    background: black;
}
#hedgehog{
    position: relative;
    height: 100px;
}
#used{
    margin-top: 50px;
}